// best seen at 1500px or less
body {
  background-color: #FFF;
}

.wave {
  background-image: asset-url("wave.svg");
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
  top: -118px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

.cta {
    background-position: center;
    background-size: cover; 
    height: 75vh;
}

.container > img {
    height: 350px;
    width: 350px;
}


#tagline {
    margin-right: 50px;
}

.choix {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.card > img {
  height: 100px;
  width: 100%;
  object-fit: contain;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-z {
  border-radius: 0px !important;
  box-shadow: none !important;
  border: none !important;
}
.rounded-4 {
  border-radius: 5px;
}

.rounded-top {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  
}

.bg-blue {
  background-color: #D0D9F2;
}

.card-pop {
  transition: all ease 0.2s;
  &:hover {
    transform: scale(1.02);
    transition: all ease 0.2s;
  }
}

.full-page {
  min-height: calc(100vh - 98.2px);
}

