center {
  padding-top: 10px;
}
.profile-block {
  height: 20vh;
}

.card-product {
  overflow: hidden;
  height: 150px;
  // TODO : PROBLEM
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 5px;
}

.lawyer-avatar {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 5px;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.location {
  height: 15px;
}

.card-body {
  padding: 0;
}

.padding-zero {
  padding: 0;
}
