// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.card{
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-haut {
  height: 120px;
  align-items: center;
  padding: 30px;
}
.card-price-category-duration{
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
}

.card-description{
  height: 80px;
  align-items: center;
  padding: 30px;
}

.card-tags{
  height: 30px;
  padding: 0 30px;
}

.card-text {
    margin: 0 !important;
}

h2 {
  margin-top: 10px;
}

.search-divorce {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-divorce input{
  width: 80% !important;
}

.card-text span {
    color: #737b92;
    font-weight: 900;
    font-size: 20px;
}
